body{
	padding: 0px;
	display:flex;
	flex-direction: column;
}


.navbar{
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #000000
}

#mainContent{
	padding-bottom: 126px;
}

.footer{
	position: fixed;
	bottom: 0;
	padding-top: 15px ;
	width: 100%;
	min-width: 324px;
	background-color: #000000;
	text-align: center;
}

.itemFooter{
	margin: 15px;
	display: inline-block;
}

#FooterList{
	padding-left: 0px;
}
#FooterText{
	padding-top: 15px;
	text-align: center;
}